<table class="table">
	<thead>
		<tr>
			<th scope="col">Year</th>
			<th scope="col">Start</th>
			<th scope="col">End</th>
			<th scope="col">Current</th>
			<th scope="col">Coverage</th>
		</tr>
	</thead>
	<tbody>
		<% seasons.each do |season| %>
			<tr class="season">
				<th scope="row"><%= link_to season.year, country_league_season_fixtures_path(@league.country.slug, @league.slug, season.slug) %></th>
				<td><%= season.start %></td>
				<td><%= season.end %></td>
				<td><%= season.current %></td>
				<td><%= season.coverage.to_json %></td>
			</tr>
		<% end %>
	</tbody>
</table>
